<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.hangloose">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:name=".HanglooseApp"
            android:allowBackup="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:replace="android:allowBackup">

        <activity
                android:name=".ui.activities.QueriesSuggestionsActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBarBlack">
        </activity>
        <activity
                android:name=".ui.activities.MenuViewActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity
                android:name=".ui.activities.SavedLikedRestaurantActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity
                android:name=".ui.activities.FilterActivity"
                android:screenOrientation="portrait"
                android:launchMode="singleTask"
                android:theme="@style/AppThemeNoActionBar">
        </activity>
        <activity
                android:name=".ui.activities.SplashActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activities.SignUpActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar"
                android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
                android:name=".ui.activities.SignInActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
                android:name=".ui.activities.OTPActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
                android:name=".ui.activities.SelectionActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar"/>

        <meta-data
                android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <activity
                android:name="com.facebook.FacebookActivity"
                android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name"/>
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.activities.ResetActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
                android:name=".ui.activities.ForgotPasswordActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
                android:name=".ui.activities.TabsActivity"
                android:launchMode="singleTop"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
                android:name=".ui.activities.LocationSettingActivity"
                android:screenOrientation="portrait"
                android:theme="@style/AppThemeNoActionBar"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <activity
                android:name=".ui.activities.AccountSettingsActivity"
                android:theme="@style/AppThemeNoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan"/>
        <receiver
                android:name=".ui.receiver.SMSBroadcastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/. 
        -->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity
                android:name=".ui.activities.RestaurantDetailsActivity"
                android:theme="@style/AppThemeNoActionBar"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.BROWSABLE"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data
                        android:host="hangloose.in"
                        android:pathPrefix="/restaurant"
                        android:scheme="https"/>
            </intent-filter>
        </activity>

        <service
                android:name=".ui.service.AddressesByNameIntentService"
                android:exported="false"/>
        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="0b33e335c54258cb61af4baefd8c22cd4f0f8b0a" />
    </application>

</manifest>